@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:20px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #298e7d0a;
}

.brand-green-text {
  color: #298E7E;
}
